    .screen {
        width: 1280px;
        height: 720px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url('background.jpg');
        background-color: #EEE;
    }
    /* this is if you want a foreground image */
    
    .particle {
        width: 35px;
        height: 35px;
        position: absolute;
        z-index: 999;
    }
    
    .particle img {
        width: 35px;
        height: 35px;
    }
    
    .voteValue {
        font-family: 'Avenir Black', sans-serif;
        min-width: 150px;
        font-size: 50px;
        font-weight: bold;
        background-color: transparent;
        color: black;
        text-align: left;
        padding: 10px;
        border-radius: 50px;
        z-index: 1001;
    }
    
    #like {
        position: absolute;
        top: 455px;
        left: 245px;
        display: none;
    }
    
    #love {
        position: absolute;
        top: 308px;
        left: 245px;
        display: none;
    }
    
    #wow {
        position: absolute;
        top: 393px;
            left: 720px;
 
    }
    
    #haha {
        position: absolute;
        top: 540px;
            left: 720px;

    }
    
    #sad {
        position: absolute;
    top: 245px;
    left: 720px;

    }
    
    #angry {
        position: absolute;
        top: 400px;
        left: 1080px;
        display: none;
    }
    
    .face {
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        margin-top: 5px;
        display: none;
    }
    
    .like {
        background-image: url('../images/like.png');
    }
    
    .love {
        background-image: url('../images/love.png');
    }
    
    .haha {
        background-image: url('../images/haha.png');
    }
    
    .wow {
        background-image: url('../images/wow.png');
    }
    
    .angry {
        background-image: url('../images/angry.png');
    }
    
    .sad {
        background-image: url('../images/sad.png');
    }
    /* you probably don't have to mess with this stuff */
    
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    .container {
        text-align: center;
        line-height: 35px;
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        display: none;
        background-color: white;
        padding: 50px;
        border-radius: 45px;
    }
    
    input {
        font-size: 18px;
        border: 2px solid #dadada;
        border-radius: 7px;
        text-align: left;
    }
    
    .btn {
        background: #424242;
        background-image: -webkit-linear-gradient(top, #424242, #000000);
        background-image: -moz-linear-gradient(top, #424242, #000000);
        background-image: -ms-linear-gradient(top, #424242, #000000);
        background-image: -o-linear-gradient(top, #424242, #000000);
        background-image: linear-gradient(to bottom, #424242, #000000);
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 1px 3px #666666;
        font-family: Arial;
        color: #ffffff;
        font-size: 18px;
        padding: 5px 6px 5px 6px;
        text-decoration: none;
    }
    
    .btn:hover {
        background: #c9c9c9;
        background-image: -webkit-linear-gradient(top, #c9c9c9, #d1d1d1);
        background-image: -moz-linear-gradient(top, #c9c9c9, #d1d1d1);
        background-image: -ms-linear-gradient(top, #c9c9c9, #d1d1d1);
        background-image: -o-linear-gradient(top, #c9c9c9, #d1d1d1);
        background-image: linear-gradient(to bottom, #c9c9c9, #d1d1d1);
        text-decoration: none;
    }
